{% extends "layout.html" %}

{% block title %}
    Is My District Gerrymandered?
{% endblock %}

{% block main %}
    
    <h1>
        Is My District Gerrymandered?
    </h1>
    <p class="error-{{ error }}">There was an error! Make sure you entered your full address (not just ZIP Code!) and it is both within the United States and a congressional district.</p>
    <form id="form" action="{{ url_for('district') }}" method="get">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="address" placeholder="Enter Your Address" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Find Out</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
