<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet"/>

        <!-- app's own CSS -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- http://stewartjpark.com/Flask-JSGlue/ -->
        {{ JSGlue.include() }}
        
        <!-- app's own JavaScript -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        
        <!-- JavaScript for Google Maps API-->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&callback=initMap"> </script>

        <!-- Google Analytics Code -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96551827-1', 'auto');
          ga('send', 'pageview');

        </script>

        <!-- Open Graph -->
        <meta property="og:url" content="http://www.ismydistrictgerrymandered.com/" />
        <meta property="og:title" content="Is My District Gerrymandered?" />
        <meta property="og:description" content="Find out today and learn what to do about it!" />
        <meta property="og:image" content="../static/Gerrymander.png" />


        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container">

            <main>
                {% block main %}{% endblock %}
            </main>
            
        </div>
    
    </body>
    
    <footer class="footer results">
        {% block footer %}{% endblock %}
    </footer>

</html>
